.top-nav {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container {
  box-sizing: border-box;
  position: relative;
  flex: 1;
}

.input {
  width: 100%;
  padding: 13px 20px;
  border-radius: 20px;
  background: $white-color;
  border: none;
  border: 2px solid $white-color;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 30px;

  &:hover {
    border-color: #fbe0dc;
  }

  &:focus {
    outline: none;
    border-color: $red-main-color;
  }

  &::placeholder {
    color: #8c8c8c;
  }
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: $red-bg-color;
  border-radius: 10px;
  background-image: url('/pets-paw/graphics/search-20.svg');
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
    background-color: $red-main-color;

    background-image: url('/pets-paw/graphics/search-white-20.svg');
  }
}

.top-nav-links {
  display: flex;
  @extend %flex-rw-centered-full;
  gap: 10px;
}

.top-nav-link {
  @extend %flex-rw-centered-full;

  width: 60px;
  height: 60px;
  background-color: $white-color;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;

  &--like {
    background-image: url('/pets-paw/graphics/like-30.svg');
  }

  &--favorites {
    background-image: url('/pets-paw/graphics/fav-30.svg');
  }

  &--dislike {
    background-image: url('/pets-paw/graphics/dislike-30.svg');
  }

  &:hover {
    background-color: $red-bg-color;
  }

  &--like:active {
    background-image: url('/pets-paw/graphics/like-white-30.svg');
    background-color: $red-main-color;
  }

  &--favorites:active {
    background-image: url('/pets-paw/graphics/fav-white-30.svg');
    background-color: $red-main-color;
  }

  &--dislike:active {
    background-image: url('/pets-paw/graphics/dislike-white-30.svg');
    background-color: $red-main-color;
  }
}

.active-top-link-like .top-nav-link--like {
  background-image: url('/pets-paw/graphics/like-white-30.svg');
  background-color: $red-main-color;
}

.active-top-link-fav .top-nav-link--favorites {
  background-image: url('/pets-paw/graphics/fav-white-30.svg');
  background-color: $red-main-color;
}

.active-top-link-dislike .top-nav-link--dislike {
  background-image: url('/pets-paw/graphics/dislike-white-30.svg');
  background-color: $red-main-color;
}

.search-breeds-data {
  width: 100%;
  height: max-content;
  max-height: 150px;
  position: absolute;
  top: 105%;
  padding: 10px 0;

  z-index: 3;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;

  color: #8c8c8c;
  background-color: $white-color;
  border-radius: 10px;
}

.search-breeds-li {
  padding: 5px;
  cursor: pointer;
}
