.voting-hero-container {
  margin-bottom: 60px;
  height: 360px;
  border-radius: 20px;
  position: relative;
}

.voting-container {
  position: relative;
}

.voting-hero {
  @extend %flex-cl;
  width: 100%;
  min-height: 360px;
}

.hero-img {
  max-width: 100%;
  // max-width: 550px;
  // max-width: min-content;
  display: block;
  margin: auto;
  height: 0px;
  flex-grow: 1;
  border-radius: 20px;
}
