.voting-hero-container {
  margin-bottom: 60px;
  height: 360px;
  border-radius: 20px;
}

.voting-container {
  position: relative;
}

.voting-hero {
  @extend %flex-cl;
  width: 100%;
  min-height: 360px;
  position: relative;
}

.hero-img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 0px;
  flex-grow: 1;
  border-radius: 20px;
}
