.nav-label {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.goback {
  width: 40px;
  height: 40px;
  background-color: $red-bg-color;
  border-radius: 10px;
  background-image: url('/pets-paw/graphics/back-20.svg');
  @extend %bg-img;
  &:hover {
    background-color: $red-main-color;

    background-image: url('/pets-paw/graphics/back-white-20.svg');
  }
}

.nav-title-container {
  @extend %flex-rw-centered-full;
  width: 146px;
  height: 40px;
  background-color: $red-main-color;
  border-radius: 10px;
}

.nav-title {
  font-size: 20px;
  line-height: 30px;
  color: $white-color;
  text-transform: uppercase;
}
