.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  &--fav {
    margin-bottom: 30px;
  }
}

.grid > .cat:nth-child(10n + 1),
.cat:nth-child(10n + 8) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid > .cat:nth-child(10n + 2),
.cat:nth-child(10n + 5),
.cat:nth-child(10n + 3),
.cat:nth-child(10n + 6),
.cat:nth-child(10n + 7),
.cat:nth-child(10n + 10) {
  grid-column: span 1;
}

.grid > .cat:nth-child(10n + 4),
.cat:nth-child(10n + 9) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cat {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 134, 142, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-bg {
  height: 40px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;

  &--fav {
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/pets-paw/graphics/fav-color-20.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:active {
      background-image: url('/pets-paw/graphics/fav-20.svg');
    }
  }

  &--to-fav {
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/pets-paw/graphics/fav-20.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &--in-fav {
    background-image: url('/pets-paw/graphics/fav-color-20.svg');
  }

  &--breed {
    width: 90%;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #ff868e;
    font-size: 16px;
    line-height: 24px;
  }
}

.cat:hover .overlay {
  opacity: 1;
}

.overlay-heart:active {
  background-image: url('/pets-paw/graphics/fav-20.svg');
}
