body {
  font-family: 'Jost';
  background-color: #f8f8f7;

  // // &--upload {
  //   background-color: rgba(29, 29, 29, 0.60);
  // // }
}

.title {
  font-weight: 500;
}

.text {
  font-weight: 400;
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  padding: 30px;
  padding-left: 147px;
}

.home-page__left-container {
  @extend %flex-cl;
  gap: 85px;
  flex-grow: 1;
}

.dynamic-board {
  flex-grow: 1;
  flex-basis: 50%;
}

.side-container-menu {
  @extend %flex-cl;
  flex-grow: 1;
  min-height: 100%;
}

.side-inner-container {
  @extend %flex-cl;
  flex-grow: 1;
  min-height: 100%;
  background-color: $white-color;
  border-radius: 20px;
}
.side-wrapper {
  @extend %flex-cl;
  flex-grow: 1;
  min-height: 100%;
  padding: 20px;
}


.not-found {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 15px;
  color: #8C8C8C;
  background-color: #F8F8F7;
  border-radius: 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-parent {
  width: 100%;
  min-height: 45vh;
  position: relative;
}
