body {
  font-family: 'Jost';
  background-color: #f8f8f7;
}

.title {
  font-weight: 500;
}

.text {
  font-weight: 400;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
