body {
  font-family: 'Jost';
  background-color: #f8f8f7;
}

.title {
  font-weight: 500;
}

.text {
  font-weight: 400;
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  padding: 30px;
  padding-left: 147px;
}

.home-page__left-container {
  @extend %flex-cl;
  gap: 85px;
  flex-grow: 1;
}

.dynamic-board {
  flex-grow: 1;
  flex-basis: 50%;
}

.side-container-menu {
  @extend %flex-cl;
  flex-grow: 1;
  min-height: 100%;
}

.side-inner-container {
  @extend %flex-cl;
  flex-grow: 1;
  min-height: 100%;
  background-color: $white-color;
  border-radius: 20px;
}
.side-wrapper {
  @extend %flex-cl;
  flex-grow: 1;
  min-height: 100%;
  padding: 20px;
}


.not-found {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 15px;
  color: #8C8C8C;
  background-color: #F8F8F7;
  border-radius: 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-parent {
  width: 100%;
  min-height: 45vh;
  position: relative;
}


.contacts {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  &__link {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: $red-main-color;
    background-color: $white-color;
    border-radius: 10px;

    color: $red-main-color;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s color;

    &:hover {
      background-color: $red-bg-color;
    }
  }
}

.icon-dash {
  height: 30px;
  filter: invert(56%) sepia(76%) saturate(427%) hue-rotate(308deg) brightness(105%) contrast(100%);

  &--lg {
    height: 25px;
  }
}