.breeds-navbar-container {
  display: flex;
  gap: 10px;
}

.breeds-navbar {
  display: flex;
  flex-grow: 1;
  gap: 10px;

  &__select {
    color: #8c8c8c;

    //   height: 40px;
    //   padding: 8px 10px;
    //   width: 100%;

    //   font-size: 16px;
    //   line-height: 24px;

    //   border-radius: 10px;
    //   color: #8c8c8c;
    //   background: #f8f8f7;
    //   -webkit-appearance: none;
    //   background-image: url('.pets-paw/graphics/dropdown-12.svg');
    //   background-repeat: no-repeat;
    //   background-position: right;
    //   background-position-x: 90%;
    //   border: 2px solid #f8f8f7;
    //   cursor: pointer;

    //   &:hover {
    //     border: 2px solid #fbe0dc;
    //   }

    //   &:focus {
    //     outline-color: #fbe0dc;
    //   }
  }

  &__select--limit {
    max-width: 110px;
  }

  &__sort button {
    height: 100%;
    width: 100%;
  }

  &__sort {
    min-width: 40px;
    height: 40px;
    background: #f8f8f7;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      border: 2px solid #fbe0dc;
    }

    &--desc {
      background-image: url('.pets-paw/graphics/sort-revert-20.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--asc {
      background-image: url('.pets-paw/graphics/sort-20.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.select {
  height: 40px;
  padding: 8px 10px;
  width: 100%;

  font-size: 16px;
  line-height: 24px;

  border-radius: 10px;
  background-color: #f8f8f7;
  -webkit-appearance: none;
  background-image: url('.pets-paw/graphics/dropdown-12.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
  border: 2px solid #f8f8f7;
  cursor: pointer;

  &:hover {
    border: 2px solid #fbe0dc;
  }

  &:focus {
    outline-color: #fbe0dc;
  }
}
