@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: overlay;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  list-style: none;
}

.upload__custom-label, .upload__btn-close, .impression-mode--dislike, .impression-mode--fav, .impression-mode--like, .goback, .gallery__action-btn {
  background-repeat: no-repeat;
  background-position: center;
}

.upload__preview, .impressionHistory, .voting-hero, .voting, .side-wrapper, .side-inner-container, .side-container-menu, .home-page__left-container {
  display: flex;
  flex-direction: column;
}

.upload__custom-label, .nav-title-container, .top-nav-link, .top-nav-links, .breed-id-label, .cover-poster {
  justify-content: center;
  align-items: center;
}

.upload__custom-label, .nav-title-container, .top-nav-link, .top-nav-links, .breed-id-label, .cover-poster {
  display: flex;
}

body {
  font-family: "Jost";
  background-color: #f8f8f7;
}

.title {
  font-weight: 500;
}

.text {
  font-weight: 400;
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  padding: 20px;
  padding-left: 147px;
}

.home-page__left-container {
  gap: 85px;
  flex-grow: 1;
}

.dynamic-board {
  flex-grow: 1;
  flex-basis: 50%;
}

.side-container-menu {
  flex-grow: 1;
  min-height: 100%;
}

.side-inner-container {
  flex-grow: 1;
  min-height: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.side-wrapper {
  flex-grow: 1;
  min-height: 100%;
  padding: 20px;
}

.not-found {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 15px;
  color: #8C8C8C;
  background-color: #F8F8F7;
  border-radius: 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-parent {
  width: 100%;
  min-height: 45vh;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.grid--fav {
  margin-bottom: 30px;
}

.grid > .cat:nth-child(10n+1),
.cat:nth-child(10n+8) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid > .cat:nth-child(10n+2),
.cat:nth-child(10n+5),
.cat:nth-child(10n+3),
.cat:nth-child(10n+6),
.cat:nth-child(10n+7),
.cat:nth-child(10n+10) {
  grid-column: span 1;
}

.grid > .cat:nth-child(10n+4),
.cat:nth-child(10n+9) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cat {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 134, 142, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-bg {
  height: 40px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}
.overlay-bg--fav {
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../public//graphics/fav-color-20.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-bg--fav:active {
  background-image: url("../../public//graphics/fav-20.svg");
}
.overlay-bg--to-fav {
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../public//graphics/fav-20.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.overlay-bg--in-fav {
  background-image: url("../../public//graphics/fav-color-20.svg");
}
.overlay-bg--breed {
  width: 90%;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff868e;
  font-size: 16px;
  line-height: 24px;
}

.cat:hover .overlay {
  opacity: 1;
}

.overlay-heart:active {
  background-image: url("../../public//graphics/fav-20.svg");
}

.home-page {
  flex-basis: 50%;
}
.home-page__welcome-container {
  position: sticky;
  top: 20px;
  bottom: 0;
}
.home-page__title {
  margin-bottom: 10px;
  color: #1D1D1D;
  font-size: 44px;
  line-height: 58px;
}
.home-page__p {
  margin-bottom: 60px;
  font-size: 20px;
  color: #8C8C8C;
}

.cover-poster {
  width: 100%;
  height: 100%;
}
.cover-poster__bg {
  height: 100%;
  width: 100%;
  background-color: #fbe0dc;
  border-radius: 20px;
}
.cover-poster__img {
  position: absolute;
  right: 0;
}

.breeds-navbar-container {
  display: flex;
  gap: 10px;
}

.breeds-navbar {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}
.breeds-navbar__select {
  color: #8c8c8c;
}
.breeds-navbar__select--limit {
  max-width: 110px;
}
.breeds-navbar__sort button {
  height: 100%;
  width: 100%;
}
.breeds-navbar__sort {
  min-width: 40px;
  height: 40px;
  background: #f8f8f7;
  border-radius: 10px;
}
.breeds-navbar__sort:hover {
  cursor: pointer;
  border: 2px solid #fbe0dc;
}
.breeds-navbar__sort--desc {
  background-image: url("../../../public/graphics/sort-revert-20.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.breeds-navbar__sort--asc {
  background-image: url("../../../public/graphics/sort-20.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select {
  height: 40px;
  padding: 8px 10px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  background-color: #f8f8f7;
  -webkit-appearance: none;
  background-image: url("../../../public/graphics/dropdown-12.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
  border: 2px solid #f8f8f7;
  cursor: pointer;
}
.select:hover {
  border: 2px solid #fbe0dc;
}
.select:focus {
  outline-color: #fbe0dc;
}

.breed-id-label {
  padding: 15px;
  min-width: 90px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  background-color: #ff868e;
}

.breed-parent {
  position: relative;
}

.slider {
  display: flex;
  gap: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  height: 30px;
  width: min-content;
  border-radius: 20px;
  background-color: #fff;
}

.slider-picker {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fbe0dc;
  cursor: pointer;
}
.slider-picker--active {
  background-color: #FF868E;
}

.breed-info-card {
  position: relative;
  border-radius: 20px;
  border: 2px solid #fbe0dc;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.breed-info-card__name {
  display: block;
  color: #1d1d1d;
  font-size: 36px;
}
.breed-info-card__description {
  color: #8c8c8c;
  font-size: 20px;
}

.breed-top-container {
  transform: translateY(-25px);
  position: relative;
  padding: 5px 40px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.description-container {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 30px;
}

.description-1stcl {
  width: 50%;
}

.description-1stcl .info-title {
  width: 50%;
  display: block;
}

.info-title {
  color: #1d1d1d;
  font-size: 16px;
}

.info-data {
  font-size: 16px;
  color: #8c8c8c;
}

.gallery-top-container {
  display: flex;
  justify-content: space-between;
}
.gallery__upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 40px;
  background-color: #FBE0DC;
  border-radius: 10px;
  color: #FF868E;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: url("../../../public/graphics/upload-16.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 20%;
}
.gallery__upload-btn:hover {
  background-color: #FF868E;
  color: #fff;
  background-image: url("../../../public/graphics/upload-white-16.svg");
}
.gallery__upload-btn-text {
  margin-left: 25px;
}
.gallery__filter-bar {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 10px 20px 15px;
  gap: 20px;
  row-gap: 10px;
  border-radius: 20px;
  background-color: #f8f8f7;
}
.gallery__select-container {
  flex: 0 0 calc(50% - 10px);
}
.gallery__select-container:last-of-type {
  flex: 0 0 calc(50% - 70px);
}
.gallery__select-container span {
  margin-left: 10px;
  color: #8c8c8c;
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.gallery__select {
  padding: 7px 10px;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background-color: #fff;
}
.gallery__action-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  background-image: url("../../../public/graphics/update-20.svg");
}
.gallery__action-btn:hover {
  background-color: #FF868E;
  background-image: url("../../../public/graphics/update-white-20.svg");
}

.top-nav {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.search-container {
  box-sizing: border-box;
  position: relative;
  flex: 1;
}

.input {
  width: 100%;
  padding: 13px 20px;
  border-radius: 20px;
  background: #fff;
  border: none;
  border: 2px solid #fff;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 30px;
}
.input:hover {
  border-color: #fbe0dc;
}
.input:focus {
  outline: none;
  border-color: #FF868E;
}
.input::placeholder {
  color: #8c8c8c;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #FBE0DC;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.search-icon:hover {
  background-color: #FF868E;
  background-image: url("../../../public/graphics/search-white-20.svg");
}

.top-nav-links {
  display: flex;
  gap: 10px;
}

.top-nav-link {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.top-nav-link--like {
  background-image: url("../../../public//graphics/like-30.svg");
}
.top-nav-link--favorites {
  background-image: url("../../../public//graphics/fav-30.svg");
}
.top-nav-link--dislike {
  background-image: url("../../../public//graphics/dislike-30.svg");
}
.top-nav-link:hover {
  background-color: #FBE0DC;
}
.top-nav-link--like:active {
  background-image: url("../../../public//graphics/like-white-30.svg");
  background-color: #FF868E;
}
.top-nav-link--favorites:active {
  background-image: url("../../../public//graphics/fav-white-30.svg");
  background-color: #FF868E;
}
.top-nav-link--dislike:active {
  background-image: url("../../../public//graphics/dislike-white-30.svg");
  background-color: #FF868E;
}

.active-top-link-like .top-nav-link--like {
  background-image: url("../../../public//graphics/like-white-30.svg");
  background-color: #FF868E;
}

.active-top-link-fav .top-nav-link--favorites {
  background-image: url("../../../public//graphics/fav-white-30.svg");
  background-color: #FF868E;
}

.active-top-link-dislike .top-nav-link--dislike {
  background-image: url("../../../public//graphics/dislike-white-30.svg");
  background-color: #FF868E;
}

.search-breeds-data {
  width: 100%;
  height: max-content;
  max-height: 150px;
  position: absolute;
  top: 105%;
  padding: 10px 0;
  z-index: 3;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  color: #8c8c8c;
  background-color: #fff;
  border-radius: 10px;
}

.search-breeds-li {
  padding: 5px;
  cursor: pointer;
}

.nav__title {
  margin-bottom: 20px;
  color: #1D1D1D;
  font-size: 20px;
}
.nav__links {
  display: flex;
  gap: 16px;
}
.nav__link-main:hover .nav__link {
  border-color: #fff;
}
.nav__link-main:hover .nav__link-text-container {
  background-color: #FBE0DC;
}
.nav__link-main:active .nav__link {
  border-color: #fbe0dc;
}
.nav__link-main:active .nav__link-text-container {
  background-color: #FF868E;
}
.nav__link-main:active .nav__link-text {
  color: #fff;
}
.nav .nav__link-main--active .nav__link {
  border-color: #fbe0dc;
}
.nav .nav__link-main--active .nav__link-text-container {
  background-color: #FF868E;
}
.nav .nav__link-main--active .nav__link-text {
  color: #fff;
}
.nav__link {
  margin-bottom: 10px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  transition: 0.3s border-color;
  min-height: 212px;
  min-width: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link-text-container {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  transition: 0.3s background-color;
}
.nav__link-text {
  color: #FF868E;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s color;
}
.nav__link-img--pre {
  height: 163px;
  width: 117px;
}
.nav__link:active {
  border-color: #fbe0dc;
}
.nav__link--violet {
  background-color: #b4b7ff;
}
.nav__link--green {
  background-color: #97eab9;
}
.nav__link--yellow {
  background-color: #ffd280;
}
.nav__link-img--gallery {
  position: relative;
  top: 10px;
}

.nav-label {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.goback {
  width: 40px;
  height: 40px;
  background-color: #FBE0DC;
  border-radius: 10px;
  background-image: url("../../../public/graphics/back-20.svg");
}
.goback:hover {
  background-color: #FF868E;
  background-image: url("../../../public/graphics/back-white-20.svg");
}

.nav-title-container {
  width: 146px;
  height: 40px;
  background-color: #FF868E;
  border-radius: 10px;
}

.nav-title {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}

.voting {
  min-height: 100%;
  padding: 20px;
}

.voting-hero-container {
  margin-bottom: 60px;
  height: 360px;
  border-radius: 20px;
}

.voting-container {
  position: relative;
}

.voting-hero {
  width: 100%;
  min-height: 360px;
  position: relative;
}

.hero-img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 0px;
  flex-grow: 1;
  border-radius: 20px;
}

.upload__custom-label, .upload__btn-close, .impression-mode--dislike, .impression-mode--fav, .impression-mode--like, .gallery__action-btn, .goback {
  background-repeat: no-repeat;
  background-position: center;
}

.upload__preview, .impressionHistory, .home-page__left-container, .side-container-menu, .side-inner-container, .side-wrapper, .voting, .voting-hero {
  display: flex;
  flex-direction: column;
}

.upload__custom-label, .cover-poster, .breed-id-label, .top-nav-links, .top-nav-link, .nav-title-container {
  justify-content: center;
  align-items: center;
}

.upload__custom-label, .cover-poster, .breed-id-label, .top-nav-links, .top-nav-link, .nav-title-container {
  display: flex;
}

.impression-controller {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 250px;
  min-height: 80px;
  border-radius: 20px;
  border: 2px solid #fff;
  overflow: hidden;
}

.impression-mode {
  height: 100%;
  width: 83px;
  flex-basis: 33%;
  border-right: 2px solid #fff;
  transition: 0.3s ease-in background-color, background-image;
}
.impression-mode--like {
  background-color: #97eab9;
  background-image: url("../../../public/graphics/like-white-30.svg");
}
.impression-mode--like:hover {
  background-color: #e0f9ea;
  background-image: url("../../../public/graphics/like-color-30.svg");
}
.impression-mode--fav {
  background-color: #FF868E;
  background-image: url("../../../public/graphics/fav-white-30.svg");
}
.impression-mode--fav:hover {
  background-color: #FBE0DC;
  background-image: url("../../../public/graphics/fav-30.svg");
}
.impression-mode--fav:active {
  background-color: #FF868E;
  background-image: url("../../../public/graphics/fav-full-white-30.svg");
}
.impression-mode--dislike {
  background-color: #ffd280;
  background-image: url("../../../public/graphics/dislike-white-30.svg");
}
.impression-mode--dislike:hover {
  background-color: #fff1d9;
  background-image: url("../../../public/graphics/dislike-color-30.svg");
}

.impressionHistory {
  width: 100%;
  gap: 10px;
}

.impressionHistory-item {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  background: #f8f8f7;
  background-repeat: no-repeat;
  background-position: top right;
  background-position-x: 95%;
  background-position-y: 50%;
}
.impressionHistory-item--like {
  background-image: url("../../../public/graphics/like-color-20.svg");
}
.impressionHistory-item--fav {
  background-image: url("../../../public/graphics/fav-20.svg");
}
.impressionHistory-item--fav-page {
  background-image: none;
}
.impressionHistory-item--dislike {
  background-image: url("../../../public/graphics/dislike-color-20.svg");
}

.impressionHistory-time {
  margin-right: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #fff;
}

.impressionHistory-text {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 24px; /* 150% */
}

.impressionHistory-id {
  padding: 0 4px;
  color: #1D1D1D;
  font-weight: 500;
  line-height: 24px;
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(29, 29, 29, 0.6);
  visibility: visible;
}

.upload {
  transform: translateX(100%);
  transition: transform 0.3s;
}
.upload--open {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  height: calc(100% - 60px);
  width: 720px;
  top: 30px;
  right: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f8f8f7;
  transform: translateX(0);
}
.upload__btn-close {
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-image: url("../../../public//graphics/close-20.svg");
  border-radius: 10px;
  align-self: flex-end;
}
.upload__btn-close:hover {
  background-color: #FF868E;
  background-image: url("../../../public//graphics/close-white-20.svg");
}
.upload__title {
  margin-bottom: 10px;
  color: #1d1d1d;
  font-size: 36px;
}
.upload__p {
  margin-bottom: 40px;
  color: #8c8c8c;
  font-size: 20px;
  line-height: 30px; /* 150% */
}
.upload__link {
  color: #ff868e;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}
.upload__custom-label {
  height: 320px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  background-image: url(../../../public/graphics/upload-bg.png);
  background-position: center;
  border-radius: 20px;
  border: 2px dashed #fbe0dc;
  cursor: pointer;
}
.upload__custom-label--error {
  border: 2px dashed #FF868E;
  background-color: #FBE0DC;
}
.upload__info {
  color: #8C8C8C;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.upload__info span {
  color: #1d1d1d;
}
.upload__input {
  display: none;
}
.upload__preview {
  width: 80%;
  height: 280px;
}
.upload__status {
  margin-bottom: 20px;
  color: #8C8C8C;
  font-style: normal;
  line-height: 30px;
}
.upload__confirm {
  align-self: center;
  width: 172px;
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  border-radius: 10px;
  color: #fff;
  background-color: #FF868E;
}
.upload__status-container {
  padding: 20px;
  height: 60px;
  border-radius: 10px;
  background: #fff;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 10px;
}
.upload__status-container--success {
  background-image: url("../../../public/graphics/success-20.svg");
}
.upload__status-container--fail {
  background-image: url("../../../public/graphics/error-20.svg");
}
.upload__success {
  width: max-content;
  margin-left: 25px;
  color: #8C8C8C;
  font-size: 16px;
  line-height: 24px;
}

/*# sourceMappingURL=index.css.map */
