.home-page {
  flex-basis: 50%;


  &__left-container {
    @extend %flex-cl;
    gap: 85px;
    flex-grow: 1;
    min-height: 100vh
    // position: relative;
  }

  &__welcome-container {
    position: sticky;
    top: 20px;
    bottom: 0;
  }

  &__title {
    margin-bottom: 10px;

    color: $dark-main-color;
    font-size: 44px;
    line-height: 58px;
  }

  &__p {
    margin-bottom: 60px;
    font-size: 20px;
    color: $grey-main-color;
  }
}
