@import '../../../src/styles/placeholder.scss';

.impression-controller {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 250px;
  min-height: 80px;
  border-radius: 20px;
  border: 2px solid $white-color;
  overflow: hidden;
}

.impression-mode {
  height: 100%;
  width: 83px;
  flex-basis: 33%;
  border-right: 2px solid $white-color;
  transition:
    0.3s ease-in background-color,
    background-image;

  &--like {
    background-color: #97eab9;
    background-image: url('/pets-paw/graphics/like-white-30.svg');
    @extend %bg-img;

    &:hover {
      background-color: #e0f9ea;
      background-image: url('/pets-paw/graphics/like-color-30.svg');
    }
  }

  &--fav {
    background-color: $red-main-color;
    background-image: url('/pets-paw/graphics/fav-white-30.svg');
    @extend %bg-img;

    &:hover {
      background-color: $red-bg-color;
      background-image: url('/pets-paw/graphics/fav-30.svg');
    }

    &:active {
      background-color: $red-main-color;
      background-image: url('/pets-paw/graphics/fav-full-white-30.svg');
    }
  }

  &--dislike {
    background-color: #ffd280;
    background-image: url('/pets-paw/graphics/dislike-white-30.svg');
    @extend %bg-img;

    &:hover {
      background-color: #fff1d9;
      background-image: url('/pets-paw/graphics/dislike-color-30.svg');
    }
  }
}

.impressionHistory {
  @extend %flex-cl;
  width: 100%;
  gap: 10px;
}

.impressionHistory-item {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  background: #f8f8f7;
  background-repeat: no-repeat;
  background-position: top right;
  background-position-x: 95%;
  background-position-y: 50%;

  &--like {
    background-image: url('/pets-paw/graphics/like-color-20.svg');
  }

  &--fav {
    background-image: url('/pets-paw/graphics/fav-20.svg');
  }

  &--fav-page {
    background-image: none;
  }

  &--dislike {
    background-image: url('/pets-paw/graphics/dislike-color-20.svg');
  }
}

.impressionHistory-time {
  margin-right: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: $white-color;
}

.impressionHistory-text {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 24px; /* 150% */
}

.impressionHistory-id {
  padding: 0 4px;
  color: #1d1d1d;
  font-weight: 500;
  line-height: 24px;
}
